<section class="row justify-content-center">
<form class="col-md-5">
<div class="row">
  <label for="txtNombre" class="col-3">Nombre</label>
  <div class="col-9">
    <input type="text" id="txtNombre">
  </div>
</div>



<div class="row">
  <label for="txtEstado" class="col-3">Estado</label>
  <div class="col-9">
    <input type="text" id="txtEstado">
  </div>

</div>
<div class="row">
  <label for="txtEspecie" class="col-3">Especie</label>
  <div class="col-9">
    <input type="text" id="txtEspecie">
  </div>
</div>
<div >
<label for="Comentario">Ccomentario</label>
<input type="textarea" id="cometario">
</div>

</form>

</section>

