<section class="row">
    <div class="col-md-4 p-5">
        <h2 class="text-center">Redes Sociales</h2>
        <div class="mx-1">
        <a href="https://www.facebook.com/FotoAleph" class="d-flex p-1">
            <h3 class="bi bi-facebook"></h3><h4>/MascotaFeliz</h4>
        </a>
        <a href="https://wa.me/message/IEPFAUC3KG47O1" class="d-flex p-1">
            <h3 class="bi bi-whatsapp text-success"></h3><h4 class="btn text-success">3014819820</h4>
        </a>
        <a href="https://foto-aleph.negocio.site/" class="d-flex p-1">
            <h3 class="bi bi-google text-danger"></h3><h4 class="btn">foto-aleph.negocio.site</h4>
        </a>
        <a href="https://wa.me/message/IEPFAUC3KG47O1" class="d-flex p-1">
            <h3 class="bi bi-meta"></h3><h4>/MascotaFeliz</h4>
        </a>
        <a href="https://twitter.com/rlcirilo" class="d-flex p-1">
            <h4 class="bi bi-twitter">/MascotaFeliz</h4>
        </a>
        </div>
    </div>
    <div class="col-md-4 p-5"> 
        <h2 class="text-center">Sedes</h2>
        <address>
            <h5>Bella Montaña</h5>
            <dd><i class="bi bi-signpost-fill mx-1"></i>Cra. 9 Nte. #9-60 </dd>
            <dd><i class="bi bi-telephone-outbound-fill mx-1"></i>3014819820</dd>
        </address>
       
        <address class="mt-3">
            <h5>Los Cedros</h5>
            <dd><i class="bi bi-signpost-fill mx-1"></i>Cl. 48c # 16-08, </dd>
            <dd><i class="bi bi-telephone-outbound-fill mx-1"></i>606 7259644</dd>
        </address>

        <address class="mt-3">
            <h5>Villa Maria</h5>
            <dd><i class="bi bi-signpost-fill mx-1"></i>Cra. 9 # 6 - 04 </dd>
            <dd><i class="bi bi-telephone-outbound-fill mx-1"></i>606 3644654</dd>
        </address>
    </div>
    <div class="col-md-4 d-flex justify-content-center row p-5">
        <h2 class="text-center">Amigos de <b class="text-">Mascota feliz</b></h2>
    
            <a href="https://g.page/BiotekBosa?share"  class="col-4">
                <img src="assets/img/Logo-biotek.png" class="img-fluid" alt="Biotek">
            </a>
            <a href="https://vidriosyestructurasjym.com/" class="col-4">
                <img src="assets/img/Vidrios.jpg" alt="JyM" class="img-fluid rounded-circle">
            </a>
 
            <a href="https://g.page/r/CZ4Ao3l45gVuEBM/review" class="col-4" >
                <img src="assets/img/Aleph.png" alt="Foto Aleph" class="img-fluid rounded-circle">
            </a>

            <a href="https://savatech.com.co" class="col-4" >
                <img src="assets/img/sava.png" alt="Savatech" class="img-fluid rounded-circle bg-dark">
            </a>
               <a href="https://franciscoactivista.com" class="col-4" >
                <img src="assets/img/Guardianes.png" alt="Guardianes por la vida" class="img-fluid">
            </a>

    </div>
  

</section>