<section class="row justify-content-center">

<div class="col-md-5">
  <h1 class="text-center"> Ingrese con sus datos</h1>

  <form  class="needs-validation" novalidate>

    <div class="row mt-2">
      <label for="txtNombre" class="form-label col-md-3 text-end">usuario</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="txtUsuario" required>
      </div>
      <p class="invalid-feedback">
        Este campo es requerido.
      </p>
    </div>
    <div class="row mt-2">
      <label for="txtNombre" class="form-label col-md-3 text-end">usuario</label>
      <div class="col-md-9">
        <input type="password" class="form-control" id="txtcontraseña" required>
      </div>
      <p class="invalid-feedback">
        Este campo es requerido.
      </p>
    </div>
  </form>
</div>
</section>
