<section class="row justify-content-center">
<div class="col-md-5">
  <h1 class="text-center"> Ingrese con sus datos</h1>

  <form [formGroup]="fgSesion" (ngSubmit)="iniciarSesion()" class="needs-validation p-2" >

    <div class="row mt-2 p-3">
      <label  for="txtNombre" class="form-label col-md-3 text-md-end">Usuario</label>
      <div class="col-md-9">
        <input formControlName="usuario" type="text" class="form-control" id="txtUsuario">
      </div>

    </div>
    <div class="row mt-2 p-3">
      <label for="txtNombre" class="form-label col-md-3 text-md-end">Contraseña</label>
      <div class="col-md-9">
        <input formControlName="contrasena" type="password" class="form-control" id="txtcontraseña">
      </div>

    </div>
    <div class="d-flex flex-row-reverse mt-2 p-2">
      <input type="submit" [disabled]="!fgSesion.valid || intentos>5" class="btn btn-outline-warning" value="enviar">
    </div>
  </form>
</div>
</section>
