
<h1 class="bg-success text-center text-bg-dark p-3"> Lista Mascotas</h1>
<section class="row"> <div class="col-4"> <button>Nueva Mascota</button></div> </section>
<table class="table table-striped tx-1">
    <thead>
        <tr class="bg-success bg-opacity-50">
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>comentario</th>
            <th>Foto</th>
            <th>acciones</th>
        </tr>
    </thead>
    <tbody>

            <tr *ngFor="let mascota of listaMascotas" class="align-middle">
                <td> <h3>{{mascota.nombre}}</h3></td>
                <td><p><b>{{mascota.especie}}</b></p> <p>{{mascota.estado}}</p></td>
                <td>{{mascota.comentario}}</td>
                <td style="max-width: 3em;"><img src="assets/img/images-mascotas/{{mascota.foto}}" class="img-fluid rounded-circle" alt={{mascota.especie}}>  </td>
                <td>
                    <a href="administrador/editar-mascota?id={{mascota.id}}"><i class="bi bi-pencil-fill mx-1"></i></a>
                    <a href="administrador/eliminar-mascota?id={{mascota.id}}" class="text-danger"><i class="bi bi-person-dash mx-1"></i></a>
                    <a href="administrador/nuevo-mascota={{mascota.id}" class="text-success"><i class="bi bi-search-heart mx-1"></i></a>
                </td>
            </tr>


    </tbody>
</table>