<main class="row">
<section class="col-md-6 justify-content-center p-2 mt-1">
  <div class="bd-callout bd-callout-warning p-3">
    <h2 class="text-center text-bg-dark bg-warning">Mision</h2>
    <p class="p-sm-2 bg-warning bg-opacity-25">La tienda mascota feliz tien como objetivo facilitar la
       manuntencion de las mascotas, reduciendo el tiempo de buscqueda
      de producos d primera necesidad para su cuidado, los productos  de la tienda cuentan con garantia de calidad
    estan verificados por expertos veterunarios y amoros dueños de mascotas </p>
  </div>
  <div class=" p-3">
    <h2 class="text-center bg-success text-bg-dark">Vision</h2>
    <p class="p-sm-2 bg-success bg-opacity-25">queremos unir a mascotas y propietarios en toda la ciudad para crear una comunidad
      que demuetre los beneficios de  incluirmascotas en nuestra vidas así comocambiar las
      presebciones negativas que el publico general tien sobre le cuidado de los animales, facilitando productos y servisios de calidadpara que lso dueños puedan disfrutar del tienpo con sus mascotas
    </p>
  </div>
</section>
<section class="col-md-6 d-none d-md-flex justify-content-center p-4">
  <div class="d-block">
    <img src="https://www.vanguardia.com/binrepository/716x477/0c0/0d0/none/12204/XEHF/web_perritos_revo_big_tp_VL235723_MG20873040.jpg" class="img-fluid rounded" alt="perritos criollos">
  </div>

</section>
</main>