

<div class="container row justify-content-center">
  <h3 class="col-md-10 text-center"><b>{{usuarioMostron.rol}}</b></h3>
  <h5 class="col-md-3 text-center">{{usuarioMostron.nombre}} {{usuarioMostron.apellido}}</h5>

  <h5 class="col-md-3">ID: {{usuarioMostron.cedula}}</h5>
  <h5 class="col-md-3">{{usuarioMostron.correo}}</h5>
  <h5 class="col-md-3 text-end">{{usuarioMostron.telefono}}</h5>
</div>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Rol</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of listaUsuarios">
        <td> {{usuario.nombre}}</td>
        <td> {{usuario.apellido}}</td>
        <td> {{usuario.cedula}}</td>
     
        <td> {{usuario.rol}}</td>
     
        <td >
            <a href="administrador/editar-usuario?id={{usuario.id}}"><i class="bi bi-pencil-fill mx-1"></i></a>
            <button (click)="mostrarUsuario(usuario.id)" class="text-success"><i class="bi bi-search-heart mx-1"></i></button>
            <button (click)="eliminarUsuario(usuario.id)" class="text-danger"><i class="bi bi-person-dash mx-1"></i></button> </td>
     

    </tr>
  </tbody>
</table>
